
title {
    font-size: larger;
    text-align: center;
    font: Helvetica;
    font: bold;
    color: white;
    background-image: url(/src/public/images/christian-stahl-323329-unsplash.jpg);
}

body 
{
    background: linear-gradient(to right, #00FFFF 0%, #0000FF 50%, #0000A0 100%);
    text-align: center;
    color: white;
    font: bold;
    text-decoration: underline;
    font-size: medium;
    
    
}


