




title {
    font-size: 4em;
    text-align: center;
    font: Impact;
    font: bold;
    color: white;
 
}


body 
{
    padding: 20px 20px 20px 20px;
    background: black;
    text-align: center;
    color: white; 
    font-family: Helvetica;
}


img 
{ 
    border-radius: 50%;
    border: 70px solid white;
}

