<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About the Rukmetropolis Team</title>
</head>
<body>
    <h2>Team long-castle</h2>
    <ul>
      <img src="/images/alex.jpg">
      <li>Alex Kasavin (<a href="mailto:Alex.Kasavin@yale.edu">Alex.Kasavin@yale.edu</a>)</li>
      <img src="/images/gokul.jpg">
      <li>Gokul Madhavan (<a href="mailto:Gokul.Madhavan@yale.edu">Gokul.Madhavan@yale.edu</a>)</li>
      <img src="/images/rukma.jpg">
      <li>Rukma Sen (<a href="mailto:Rukma.Sen@yale.edu">Rukma.Sen@yale.edu</a>)</li>
      <img src="/images/owen.jpg">
      <li>Owen Yang (<a href="mailto:Owen.Yang@yale.edu">Owen.Yang@yale.edu</a>)</li>
    </ul>

</body>
</html>