<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
{#     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129876748-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129876748-1');
    </script>
 #}
 {# Trying alternative GA code #}
    <!-- Google Analytics -->
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-129876748-1', 'auto');
            ga('send', 'pageview');
        </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <meta charset="utf-8">
    
    <title>About the Rukmetropolis Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Added Styling from the stylesheet in a style tag here, please link to the sheet once this page is finalized -->

<style>
    h2 {
    font-size: 4em;
    text-align: center;
    font-family: Impact;
    font: bold;
    color: white;
 
}


body 
{
    background: black;
}

ul
{ 
    padding-left: 20px;
    padding-right: 20px;
    background-image: radial-gradient();
    list-style-type: none;
    color: White;
    font-family: Helvetica;
    font: bold;
    font-size: 2em;
    text-align: center;
}

img 
{ 
    border-radius: 50%;
    border: 70px solid white;
}

</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rukmetropolis Events</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/register.njk">New Event</a>
      <a class="nav-item nav-link" href="about.njk">About Us</a>
    </div>
  </div>
</nav>
    <h2>Team long-castle</h2>
    <ul>
      <img src="/src/Styles/alex.jpg">
      <li>calm-mallard (<a href="mailto:Alex.Kasavin@yale.edu">Alex.Kasavin@yale.edu</a>)</li>
      <img src="/src/Styles/gokul.jpg">
      <li>Gokul Madhavan (<a href="mailto:Gokul.Madhavan@yale.edu">Gokul.Madhavan@yale.edu</a>)</li>
      <img src="/src/Styles/rukma.jpg">
      <li>Rukma Sen (<a href="mailto:Rukma.Sen@yale.edu">Rukma.Sen@yale.edu</a>)</li>
      <img src="/src/Styles/owen.jpg">
      <li>Owen Yang (<a href="mailto:Owen.Yang@yale.edu">Owen.Yang@yale.edu</a>)</li>
    </ul>

</body>
</html>