<!DOCTYPE html>

<html lang="en">

    <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
{#     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129876748-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129876748-1');
    </script>
 #}
 {# Trying alternative GA code #}
    <!-- Google Analytics -->
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-129876748-1', 'auto');
            ga('send', 'pageview');
        </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/views/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
	    <script type='text/javascript'>
	        	$( document ).ready(function() {
		            	$('#datetimepicker1').datetimepicker();
		        });
	    </script>

        <title>Event Details</title>
    <style>
      footer {
        bottom: 0;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background-color:#f5f5f5;
  }
    </style>
    </head>
    
    <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img classs="img-responsive" width="45px" height="" id="logo" src="http://100kdesign.com/wp-content/uploads/2012/04/YaleSOM.jpg">
    Yale Events</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/events/new">New Event</a>
      <a class="nav-item nav-link" href="/about">About Us</a>
            </div>
        </div>
    </nav>
    </header>
    <!--
        <form action="/events/new" method="post">
            
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="event_name" placeholder="Event Name" type="text">
            </div>
            
            <div class="form-group">
                <input class="form-control" name="event_location" placeholder="Event Location" type="text">
            </div>
            
            <label class="control-label">Event Start Time</label>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" name = "event_start_time">
                    <span class="input-group-addon">
                         <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>       
            
            <label for="picture">Choose a picture for your event:</label>
            <div class="form-group">
            <input class="form-control" type="text" id="picture" name="picture">            
            </div>
            
            <button class="btn btn-primary" type="submit">Create</button>
        </form>       
    -->
        {% if theEvent != null %}
            <h1 id="title">
                {{ theEvent.title }}
            </h1>
            
            <div>
                Date: <span id="date">{{ theEvent.date.toDateString() }}</span><br>
                Time: <span id="time">{{ theEvent.date.toTimeString() }}</span>
            </div>
            <br>
            <div>
                Location: <span id="location">{{ theEvent.location }}</span>
            </div>
            <div>
                <img id="image" src="{{ theEvent.image_url }}" />
            </div>
            <br>
            
            <div>
            {% if attendees != null %}
                Attendees:
                <ul id="attendees">
                {% for attendee in attendees %}
                    <li class="list-group-item">{{ attendee.email }}</li>
                {% endfor %}
                </ul>
            {% else %}
                No attendees yet!    
            {% endif %}
                <div>
                    <br>Register for this event!<br>
                    <form action="/events/{{theEvent.id}}/register" method="post">
                        <div class="form-group">
                            <input name="email" placeholder="Your email" id="email" type="email">
                        </div>
                        
                        <button class="btn btn-primary" type="submit" name="submit">Register</button>
                    </form>        
                </div>
            
            </div>
        {% else %}
            <h1>No event with that id!</h1>
        {% endif %}
        
        {% if (confirmation !=  null) %}
            <div class="confirmation-code" style="color: red;">
                Your confirmation code is {{ confirmation }}. Thanks for registering!
            </div>
        {% else %}
        {% endif %}
        
        <div>
        Want to contribute? <a href="/{{ donation.toLowerCase() }}" id="donate">{{ donation }}</a> now!
        </div>
    
    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          <a href="/">Home     </a>
          <a href="/events/new">New Event     </a>
          <a href="/about">About Us</a>
        </span>
      </div>
    </footer>
    <!-- Javascript for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

<script>
document.querySelector('form').onsubmit = function() {
    let email = document.querySelector('input[name=email]');
    if (!email.value) {
        alert('You must specify your email');
        email.focus();
        return false;
    }
    else if (!email.value.toLowerCase().endsWith("yale.edu")) {
        alert('You must specify your Yale email address');
        email.focus();
        return false;
    }
    
    return true;
};
</script>
