<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
{#     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129876748-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129876748-1');
    </script>
 #}
 {# Trying alternative GA code #}
    <!-- Google Analytics -->
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-129876748-1', 'auto');
            ga('send', 'pageview');
        </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <meta charset="utf-8">
    
    <title>Final Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- Added Styling from the stylesheet in a style tag here, please link to the sheet once this page is finalized -->
</head>
<body>
<h2>Team long-castle Project Report</h2>
<h3>Team</h3>
    <ul>
      <li>Alex Kasavin (<a href="mailto:Alex.Kasavin@yale.edu">Alex.Kasavin@yale.edu</a>)</li>
      <li>Gokul Madhavan (<a href="mailto:Gokul.Madhavan@yale.edu">Gokul.Madhavan@yale.edu</a>)</li>
      <li>Rukma Sen (<a href="mailto:Rukma.Sen@yale.edu">Rukma.Sen@yale.edu</a>)</li>
      <li>Owen Yang (<a href="mailto:Owen.Yang@yale.edu">Owen.Yang@yale.edu</a>)</li>
    </ul>
<p>
<h3>Sources of Traffic</h3>
<table style="width:100%">
  <tr>
    <th>Source</th>
    <th>Percentage of Traffic</th> 
  </tr>
  <tr>
    <td>http://som.yale.edu/</td>
    <td>40.07%</td> 
  </tr>
 <tr>
    <td>http://divinity.yale.edu/</td>
    <td>5.03%</td> 
  </tr>
   <tr>
    <td>http://medicine.yale.edu/</td>
    <td>29.15%</td> 
  </tr>
   <tr>
    <td>http://law.yale.edu/</td>
    <td>24.93%</td> 
  </tr>
   <tr>
    <td>http://search.yale.edu</td>
    <td>0%</td> 
  </tr>
</table>

<p>A direct extract from Google Analytics is visible below:</p>
<p><iframe src="https://drive.google.com/file/d/1XCvekuV12FvcGWyfVLlQPYH0eGHJu7he/preview" width="640" height="480"></iframe>
<p>
<h3>Effectiveness of Different Calls to Action</h3>
<p>
<p>Of the visitors who chose to Donate or Support events:
<ul>
<li>39 visitors clicked on the "Donate" button</li>
<li>21 visitors clicked on the "Support" button</li>
</ul>
<p>
<p>The <strong>"Donate"</strong> call to action is almost twice as effective.</p>
<p>
<p>
<h2>Sprint Report</h2>
<p> We completed a substantial volume of work during this sprint. Like many development teams, we did not effectively pace outselves throughout the project and overburdened outselves towards the end.</p>
<p> As of this writing, we are passing 45 tests, with one major caveat:<p>
<ul>
<li>We did not successfully complete the API requirements.</li>
</ul>
<h3>Completed Stories</h3>
  <ol>
        <li>Create Home Page (<strong>9 points completed</strong>)</li>
        <li>Create New Event Page (<strong>2 points completed</strong>) </li>
        <li>Create Team Logo </li>
  </ol>
  <p>"Tasks" in the view below refer to broader stories above.</p>
  <p>
<iframe src="https://drive.google.com/file/d/1E7FNFUCE6Qjz6t0v0H2h3VNLXulR98YV/preview" width="640" height="480"></iframe>
<p>
<h3>Product Backlog</h3>
  <ol>
    <li>API integration (<strong>10 story points</strong>)</li>
  </ol>
<h3>Lessons Learned</h3>
<p>We found that adhering to the Agile process under pressure was exceptionally challenging. It takes tremendous discipline to do so - probably even more so under the constraints of commercial, business-critical releases.</p>
<p>
<p>Without a solid foundation in git, we did not manage branching or testing effectively, and wound up testing extensively in production on the production database.</p>
<p>
<p>If we were to do this over, I think we're try much harder to hit the ground running earlier, frontloading out work and paying closer attention to tests before the final sprint.</body>
</html>