<!DOCTYPE html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129876748-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-129876748-1');
    </script>    
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MGT660 Eventbrite Clone</title>
    <!-- Javascript for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Temporary style for event boxes -->
    <style type="text/css">
    </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129876748-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-129876748-1');
        </script>
</head>

<body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Eventbrite clone for MGT 660, using Koa and Postgres</h1>
        </div>
      </div>

allEvents: {{ num }}

      <div class="row">
        <div class="col-md-6 col-sm-12">
          See all events below!
        </div>
        <div class="col-md-6 col-sm-12">
{# Changed the href below to register #}
          <a href="/events/new" id="new" class="btn">Create a new event!</a> (Not yet active)
        </div>
      </div>

      <div class="row">
        <ul id="events">
          {% for e in allEvents %}
          <div class="col-md-4 col-sm-12">
            <li class="event" id="event-{{e.id}}">
              <div class="card">
                <a href="/events/{{e.id}}" id="title">
                  <h5 class="card-title">{{e.title}}</h5>
                </a>
                <h6 class="card-subtitle">
                </h6>
              </div>
            </li>
          </div>
          {% endfor %}
        </ul>
      </div>

    </div>
    <!-- Javascript for Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
