<!DOCTYPE html>
<html>
  <head>
    <title>Team long-castle Sprint Report </title>
  </head>
  <body>
    <h1>Sprint Report</h1>
    <h2>Team long-castle</h2>
    <ul>
      <li>Alex Kasavin (<a href="mailto:Alex.Kasavin@yale.edu">Alex.Kasavin@yale.edu</a>)</li>
      <li>Gokul Madhavan (<a href="mailto:Gokul.Madhavan@yale.edu">Gokul.Madhavan@yale.edu</a>)</li>
      <li>Rukma Sen (<a href="mailto:Rukma.Sen@yale.edu">Rukma.Sen@yale.edu</a>)</li>
      <li>Owen Yang (<a href="mailto:Owen.Yang@yale.edu">Owen.Yang@yale.edu</a>)</li>
    </ul>

    <div>
      <h2>Burndown chart</h2>
      <p>
      Because many of the tasks we worked on this week were foundational in nature, we didn’t prepare a burndown chart. 
      In lieu of a burndown chart, this is our Trello-based project management system. 
      Our subsequent sprint reports will include proper burndown charts.
      </p>
      <br />
      <img src="../../sprint_report/images/trello_board.png">
      <hr>
    </div>

    <div>
      <h2>Sprint Completed Stories</h2>
      <ol>
        <li>Set up Kanban board</li>
        <li>Deploy starter code locally (screenshot included below)</li>
        <li>Deploy starter code on Heroku at <a href="https://eventbrite-clone-long-castle.herokuapp.com">https://eventbrite-clone-long-castle.herokuapp.com</a></li>
      </ol>
      <p>
      Our team worked on setting up a project management system within Trello and understanding the functionality of the starter code. 
      We divided up agile roles within our team, and identified a PO and a Scrum Master. 
      We worked on estimating story points, for which we used the number of tests as a benchmark. 
      </p>
      <br />
      <img src="../../sprint_report/images/heroku_deployment_screenshot.png">
      <hr>
    </div>

    <div>
      <h2>Product Backlog</h2>
      <ol>
        <li>Create home page (<strong>12 story points</strong>)</li>
        <li>List events on home page (<strong>18 story points</strong>)</li>
        <li>Create about page (<strong>3 story points</strong>)</li>
        <li>Create new event page (<strong>18 story points</strong>)</li>
        <li>API integration (<strong>10 story points</strong>)</li>
        <li>Set up Cloud9 infrastructure (<strong>5 story points</strong>)</li>
        <li>Design team logo (<strong>5 story points</strong>)</li>
        <li>Determine how to deploy locally-running code to Heroku (<strong>5 story points</strong>)</li>
      </ol>
       <p>
      We will determine which user stories to tackle by priority at our next sprint kickoff meeting.
      </p>
      <hr>
    </div>


  </body>
</html>
